.side input[type="password"] {
  background-color: transparent !important;
  border: 2px solid #6a6a6a;
  border-radius: 7px;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 20px; }


  .content2 input[type="password"] {
  background-color: transparent !important;
  border: 1px solid #6a6a6a;
  border-radius: 7px;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  width: 250px;
  color: #333333;
  margin-bottom: 15px;
  margin-left: 2px; }

  body, html{
 	height: 100% !important; 
 	padding: 0;
 	margin: 0;	
  }

  .side {

 	height: 100% !important; 
  padding: 60px !important;

 }

 .col-md-4{
 	height: 100%!important;
 } 

 .content {
  background-color: #333333;
  color: #ffffff;
  font-family: Oswald;
  min-height: 100%;
  padding: 180px 0px 74px 110px!important;}


}


div.container-fluid
{
  background-color: #333333!important;
}
