

.item 
{
  position:relative;
  padding-top:20px;
  display:inline-block;
}

.notify-badge{
  position: absolute;
  right:-5px!important;
  top:45px!important;
  text-align: center;
  border-radius: 100%!important;
  color:white;
  width: 50px!important;
  height: 50px!important;
  padding:20px!important;
  font-size:15px!important;
}

.content2 img {
    margin-top: 30px!important;
}

a.search {
  border: 1px solid #df3621!important;
  border-radius: 7px!important;
  text-align: left !important;
  font-size: 20px!important;
  color: #ffffff!important;
  background-color: #df3621!important;
  text-decoration: none!important;
  padding: 10px 40px 10px 40px !important;
  text-transform: !important;
  width: 31% !important;
  margin-left: 55%!important; }

.side2
{
  height: 100%important;
}
