// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body
{
	background-color: #ffffff;
	height:100%;
	margin:0;
}


.content
{
	background-color: #333333;
	color: #ffffff;
	font-family:Oswald;
	min-height: 100%;
	padding: 180px 0px 24.7px 110px;
}

.content h1
{
	font-size: 50px;
	padding:0;
	margin: 2px 0 70px -2px;
}

.content p span
{
	color: #2ecc71;
	font-weight:bold;
	font-size: 30px;

}

.content p 
{
	color: #ffffff;
	font-weight:bold;
	font-size: 30px;
	margin-bottom: 398px;
	
}

.content div.contact span
{
	color: #df3621;
	font-size: 20px;
	text-transform: lowercase;
	font-weight:normal;

}

.content div.contact 
{
	color: #ffffff;
	font-size: 20px;
	text-transform: lowercase;
	font-weight:normal;
	margin-bottom: 21px;
	
}


.side
{
	background-color: #000000;
	color: #ffffff;
	padding:35.7px;
	font-family:Oswald;
	min-height:100%!important;
}

.side h3
{
	text-transform: uppercase;
	padding: 0;
	text-align:center;
	margin-bottom: 10px;

}

.side input[type="text"]
{
	background-color: transparent!important;
	border: 2px solid #6a6a6a;
	border-radius: 7px;
	text-align: left;
	padding: 10px;
	font-size: 20px;
	width: 90%;
	margin-bottom: 15px;
	margin-left: 20px;
}

.side a p, button
{
	border: 1px solid #df3621;
	border-radius: 7px;
	text-align:center;
	font-size: 20px;
	color:#ffffff;
	background-color: #df3621;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	width: 90%;
	margin-left: 20px;
}

 button.search
{
	border: 1px solid #df3621;
	border-radius: 7px;
	text-align:left!important;
	font-size: 20px;
	color:#ffffff;
	background-color: #df3621;
	text-decoration: none;
	padding: 10px!important;
	text-transform: uppercase;
	width: 31% !important;
	margin-left: 0px!important;
}

a:hover
{
	text-decoration: none;
}

.signin, .request_acc
{
	font-size: 20px;
	color:#ffffff;
	text-align: center!important;
	margin-top: 15px;
	margin-left:120px;
}

.side a, button
{
	font-size: 20px;
	color:#ffffff;
	text-align: center!important;	
}


div.sign_in
{
	margin-top:210px;
	margin-bottom: 370px;
}

.content2
{
	background-color: #ffffff;
	color: df3621;
	font-family:Oswald;
	min-height: 100%;
	padding: 50px 0px 0px 60px;
}

.head
{
	padding: 30px 0px 0px 0px;	
	margin-bottom: 30px;
	color:#df3621;
	border-bottom: 2px solid #000000;
	font-size: 36px;
}

select
{
    width: 250px;
    border: 1px solid #6a6a6a;
    background-color: transparent!important;
    padding: 10px;
    border-radius: 7px;
    margin-right: 5px;
    font-size: 20px;
}

.error_msg
{
	width: 250px!important;
}

.help-block 
{
	display:inline!important;
}

.content2 h3
{
	color:#df3621;
}

.content2 a p
{
	border: 1px solid #df3621;
	border-radius: 7px;
	text-align:center;
	font-size: 20px;
	color:#ffffff;
	background-color: #df3621;
	text-decoration: none;
	margin-top:25px;
	padding: 10px;
	text-transform: uppercase;
	width: 250px;
	margin-left: 0px;
}

.content2 input[type="text"] 
{
	background-color: transparent!important;
	border: 1px solid #6a6a6a;
	border-radius: 7px;
	text-align: left;
	padding: 8px;
	font-size: 20px;
	width: 250px;
	color:#333333;
	margin-bottom: 15px;
	margin-left: 2px;
}

.content2 .result_select
{
	border: 1px solid #df3621;
	border-radius: 7px;
	text-align:center;
	font-size: 20px;
	color:#ffffff;
	background-color: #df3621;
	text-decoration: none;
	margin-top:25px;
	padding: 5px;
	text-transform: uppercase;
	width: 100px;
	margin-left: 0px;	
}

.content2 .result_input 
{
	background-color: transparent!important;
	border: 1px solid #6a6a6a;
	border-radius: 7px;
	text-align: left;
	padding: 5px;
	font-size: 20px;
	width: 80px;
	color:#333333;
	margin-bottom: 15px;
	margin-left: 2px;
}

.content2 .results
{
	border: 1px solid #ececec;
	width: 85%;
	padding: 15px;
}

.content2 .address
{
	font-size:15px;
}

.content2 img
{
	margin-top: 80px;
}

.content2 .title
{
	background-color: #000000;
	color:#ffffff;
	padding:5px;
	border-radius:3px;
}

.content2 .info
{
	color:#000000;
	padding:10px;
	font-size:18px;
	margin-left:-10px;
}

.content2 .result_input
{
	width: 85%;
	padding: 15px;
	border:none;
}


.side2
{
	background-color: #333333;
	color: #ffffff;
	padding:0px;
	font-family:Oswald;
	min-height: 100%;
	z-index: 800;
	top: 0;
  	left: 0;
    padding-top: 50px;
	
}

.side2 .col-md-4
{
	padding:0;
}


.side2 h3
{
	text-transform: uppercase;
	margin:0 0 3px 0;
	padding: 130px 0px 0px 70px;
	

}

.side2 .hospital_name
{
	text-transform: uppercase;
	color: #df3621;
	margin:0 0 300px 0;
	padding:10px 0px 0px 70px;;
	font-size: 30px;

}

.side2 .search_menu
{
	text-transform: uppercase;
	color: #df3621;
	margin:0 0 100px 0;
	padding:20px 60px;
	background-color: #ffffff;
	font-size: 20px;
}

.side2 p
{
	color: #ffffff;
	font-size: 20px;
	font-weight:normal;
	margin-top:230px;
	padding-bottom: 22px;
	text-align:center;
}

p.no_result
{
	font-size: 30px!important;
	font-weight: bold!important;
}


